{% extends 'base.html.twig' %}

{% block body %}
    {% for flash in app.flashes('notice') %}
        <p class="alert alert-success">{{ flash }}</p>
    {% endfor %}

    <h6 class="border-bottom border-gray pb-2 mb-0">Recent updates</h6>

    {% for post in posts %}
        {{  include('micro-post/raw-post.html.twig', {'post': post}) }}
    {% endfor %}

    <small class="d-block text-right mt-3"><a href="#">All updates</a></small>

{% endblock %}