{% extends 'base.html.twig' %}

{% block body %}
    {% if posts %}
        {% for id, post in posts %}
            <p><a href="{{ path('blog_show', {'id': id}) }}">ID {{ id }}</a></p>
            <h3>{{ post.title }}</h3>
            <p>{{ post.text }}</p>
        {% endfor %}
    {% else %}
        <h3>Постов еще нет</h3>
    {% endif %}
{% endblock %}